<div class="body">
    <div class="container">
        <div class="col-md-8 offset-md-2 info">
            <h1 class="text-center">Welcome to StreamX - A media streaming application</h1>
            <!-- <p class="text-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem aut, vitae reiciendis velit dignissimos dicta odit quasi, dolores consequuntur soluta quam voluptatibus tempore accusantium, itaque iste voluptas possimus nisi laborum!</p> -->
          </div>
    </div>
</div>