<!-- 
  This header is using Angular material UI and is used only along with the side bar.
  There is a separate navbar component for regular header without the side bar
-->
<mat-toolbar>
  <mat-toolbar-row class="justify-content-between">
    <button mat-icon-button (click)="toggleSidebar()"><mat-icon> menu </mat-icon></button>
   
    <div class="row mr-2 ml-auto">
    <ul>
      <li>
        <button mat-button [matMenuTriggerFor]="menu" class="user mt-2 d-flex align-items-center">
          <img src="../../assets/Images/2942813.png" alt="" class="user-image mr-1" *ngIf="isRootUser">
          <img src="../../assets/Images/adminPic.jpg" alt="" class="user-image mr-1" *ngIf="isAdmin">
          <img src="../../assets/Images/userPic.jpg" alt="" class="user-image mr-1" *ngIf="isUser">

            <small class="m-1" *ngIf="isUser"> {{userDetails.name}} </small>
            <small class="m-1" *ngIf="isAdmin"> ADMIN </small>
            <small class="m-1" *ngIf="isRootUser"> ROOT USER </small>
          <mat-icon class="user-image-icon ml-1">keyboard_arrow_down</mat-icon>
        </button>
        <mat-menu #menu = "matMenu">
          <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            Logout
          </button>
        </mat-menu>
      </li>
    </ul>
  </div>
  </mat-toolbar-row>
</mat-toolbar>

